<div class="container">
<h1>Stupid Coaching</h1>
<h3>Ask your coach anything.</h3>
<form action="/answer" data-turbo="false">
  <label for="question">Your question</label>
  <input type="text" id="question" name="query" autocomplete="off">
  <input type="submit" value="Ask !">
</form>
</div>
